<div class="heading">
  <h1>Editing Client</h1>
</div>

<%= render 'form' %>

<div class="col-md-8 col-md-offset-2">
  <%= link_to 'Cancel', client_path(Client.find(params[:client_id])), class: "btn btn-warning btn-lg full-btn" %>
</div>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
