<div class="heading">
  <h1>Editing Client</h1>
</div>

<%= render 'form' %>

<div class="col-md-4 col-md-offset-4">
  <%= link_to 'Cancel', client_path(@client), class: "btn btn-warning btn-lg full-btn" %>
</div>
