<p id="notice"><%= notice %></p>
<div class="heading">
  
<h1 align="center">Listing Clients</h1>
</div>

  <% @clients.each do |client| %>
  <div class="col-md-4 col-md-offset-4">
    <div class="well well-lg client-preview">
      <% names = client.name + ' ' + client.surname %>
     
      <h2><%= link_to names, client_path(client), class: "client-name" %></h2>
      <h4><%= pluralize(client.assessments.count, "assessment")  %></h4>
      <small>
        <%= "Last assessment: " + time_ago_in_words(client.assessments.last.created_at) if client.assessments.any?  %>
      </small>
      
    </div>
    
  </div>
  <% end %>


