<h1 align="center">Gym App</h1>

<div class="container">
  <div class="well well-lg">
    <h2>Actions</h2>
    <ul>
      <li><%= link_to "New assessment", new_assessment_path %></li>
      <li><%= link_to "View Clients", clients_path %></li>
      <li><%= link_to "New Client", new_client_path %></li>
    </ul>
  </div>
</div>





