@import "bootstrap-sprockets";
@import "bootstrap";

//NAVBAR
body {
  background-color: #2B2B2B;
  color: #F6F6F6;
}

.navbar-header {
  height: 45px;
  line-height: 45px;
}

.nav-link {
  border-left: 2px solid #eaeaea;
  &:hover {
    background-color: white;
  }
}

.logo {
  margin-right: 10px;
  float: left;
  font-size: 1.7em;
  color: grey;
  letter-spacing: -1px;
  &:hover {
    text-decoration: none;
  }
}

//BODY
.heading {
  border-bottom: 1px solid #eaeaea;
  margin-top: -30px;
  margin-bottom: 20px;
  text-align: center;
}

.well {
  color: black;
}

.client-name {
  color: black;
  
  &:hover {
    text-decoration: none;
  }
}

.client-preview {
  text-align: center;
  padding: 5px;
}

#client-actions {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin: 10px 0px 0px 0px;
  padding-top: 10px 0px 10px 0px;
}

.client-action {
  padding: 3px;
}

.full-btn {
  margin-top: 10px;
  width: 100%;
}

.half-btn {
  width: 50%;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.borderless td, .borderless th {
    border: none;
}

.col-home {
  text-align: center;
}

.fat-weight {
  border-top: 2px solid black;
  margin-bottom: 20px;
}

.fitness-test {
  border-top: 2px solid black;
}

.pressure-pulse {
  border-top: 2px solid black;
}

//FORMS

.form-control {
  color: black;
}

//FOOTER

footer {
  border-top: 1px solid #eaeaea;
  margin-top: 20px;
  padding-top: 5px;
}

.tester {
  background-color: red;
}